%section.full-slider
  %h1.centered-row.space
    Sagt om oss
  .slider
    - data.reviews.each do | review |
      .slide.reviews
        .container
          .profile-row
            %h2.centered-row= review.title
            %h5.centered-row
              #{review.stars}/5 stjärnor
            %blockquote.centered-row= review.quote
            %h4.centered-row.subheader
              #{review.author} - #{review.date}
            .button-row.shift-to-bottom.centered-row
              %p
                = link_to 'Läs recensionen', review.link, class: 'button button--horizontal', target: '_top'
              %br