- description 'Lär dig programmering och webbutveckling på 12 veckor. Craft Academy är en intensiv & praktiskt inriktad utbildning där man får man lära sig programmera i JavaScript, Ruby, HTML5, CSS, mm. Vi erbjuder utbildningar i Göteborg, Stockholm och på distans'
%section.hero-splash{style: "background-image: url(#{image_path('backgrounds/splash_1.jpg')});"}
  .container
    .centered-row
      %h4.leader Ta steget in i IT-branschen.
      %h1
        = 'Lär dig koda på 12 veckor'.html_safe
      %p
        %strong
          Väx med Craft Academy och få en snabb och effektiv väg in till ett spännande yrke. 
    .centered-row
      %small
        %strong
          Uppkommande kursstarter:
      - Intake.future_dates[0..2].each do |intake|
        %h4.leader
          = intake.course_name
          = '-'
          = intake.start_date.strftime('%-d %b %Y')

%section.hero-splash-white{style: "background-image: url(#{image_path('backgrounds/startup-fade.jpg')});"}
  .container
    .centered-row
      %article
        %h4.leader Bli en del av lösningen
        %h2 Det råder brist på kunnig personal
        %p.copy
          Arbetsgivare runt om i landet söker med ljus och lykta efter personal med rätt kunskaper. 
          Med Craft Academy hjälp får du under tre månader lära dig många av de färdigheter som efterfrågas allra mest. Vi hjälper dig också att hitta ditt första jobb.

%section.hero-splash-white
  .container
    .profile-row
      .copy
        %h2
          Möt våra studenter
        %p
          Deltagarna på våra accelererade utbildningar har ofta helt olika bakgrund. 
          Från entreprenörer som vill utveckla sina egna produkter till de som är mitt i karriären och känner att det är dags för en ny utmaning. 
          Alla har dock en sak gemensamt. De vill på något sätt bli delaktiga i den digitalisering som påverkar oss alla och de vill göra det nu - inte om tre år.
        .button-row.shift-to-bottom
          %p
            = link_to 'Våra studenter', '/students', class: "button button--vertical"
      .image.show-desktop
        = image_tag 'people/students_group.png', style: 'margin: 20px 20px 20px 20px;'
      .image.hide-desktop.no-padding
        = image_tag '/people/students_group.png', style: 'margin: 20px 20px 20px 20px;'

%section.hero-splash-white{style: "background-image: url(#{image_path('backgrounds/ipad-fade.jpg')});"}
  .container
    .centered-row
      %article
        %h4.leader Vi blickar bortom teknologi 
        %h2 Praktik framför teori
        %p.copy
          Vi tror att traditionell utbildning lär människor att klara prov, snarare än att ge dem verklig kunskap. Vi har skapat en intensiv och praktiskt inriktad utbildning som gör dig anställningsbar på bara 12 veckor.
        = link_to 'Våra utbildningsprogram', '/curriculum.html', class: 'button button--vertical'

= partial :'news_flash_sv'
= partial :'reviews'
= partial :'course_dates'
= partial :'what_you_get'
= partial :'apply'
= partial :'find_us'
