- description 'Våra priser - Grundpriset för Craft Academy Bootcamp är 84 000 SEK. Titta efter aktuella erbjudanden.'
%section.hero-splash{style: "background-image: url(#{image_path('backgrounds/splash_4.jpg')});"}
  .container
    .centered-row
      %h1 En Investering
      %p
        %strong
          I Sverige är vi vana att betrakta utbildning som gratis. Men det är en sanning med modifikation. Den traditionella utbildningen är lång och lämnar ofta efter sig stora studieskulder på hundratusentals kronor. Craft Academy är ett alternativ som kan bespara dig både tid och pengar. Till skillnad från de flesta andra utbildningar hjälper vi dig även med coachning och kontakter när du ska söka ditt första jobb.

%section.hero-splash-white{style: "background-image: url(#{image_path('backgrounds/office-1209640-fade.jpg')});"}
  .container
  .container
    .centered-row
      %h2 Kursavgift
      - Intake.future_dates[0..2].each do |intake|
        %h4
          = intake.course_name
        %h4{style: 'color: black; margin-bottom: 30px;'}
          = [intake.price, 'kr'].join(' ')
      %p Se nedan för tillgängliga finansieringsalternativ.
%section.hero-splash-white{style: 'padding-top: 40px;'}
  .container
    %h3 3 skäl att välja Craft Academy
    .three-width-row
      .column
        %h4.copy Snabbt
        %p.copy Arbetsmarknaden skriker efter kopmetent personal. Vi hjälper dig att bli anställningsbar på bara 12 veckor. Dessutom får du coachning och kontakter när det är dags att söka ditt första jobb.
      .column
        %h4.copy Relevant
        %p.copy Vår läroplan är utvecklad av yrkesverksamma mjukvaruingenjörer. Vi ser till att du lär dig rätt saker och får kompetens inom de områden som efterfrågas av arbetsgivarna.
      .column
        %h4.copy Frihet
        %p.copy Craft Academy bootcamp öppnar dörrar och ökar dina möjligheter att få ett intressant och utmanande arbete, oavsett var i världen du beger dig.
    .centered-row
      %h4
        Antalet platser är begränsat.
      = link_to 'Ansök nu', config.apply_form_url, class: 'button button--vertical button--large'

%section.hero-splash-white{style: 'padding-top: 0px;'}
  .container
    .centered-row
      %h2 Finansiering
      %p.copy
        Craft Academy är en privat utbildningsföretag och deltagande på våra program berättigar således inte till CSN-stöd. Du kan välja att betala utbildningen enligt vår standardmodell eller ansöka om delbetalning.
      %h3 Standardbetalning
      %table.responsive-table
        %thead.backgrounded
          %tr
            %th Program
            %th Vid antagning <br><small> (anmälningsavgift)
            %th Vid kursstart
            %th Pris inkl. moms

        %tbody
          %tr
            %td{data:{header: 'Program'}} Full Stack Web Developer
            %td{data:{header: 'Vid antagning'}} 9 700 kr
            %td{data:{header: 'Vid kursstart'}} 87 300 kr
            %td{data:{header: 'Summa'}}
              %strong
                97 000 kr
          %tr
            %td{data:{header: 'Program'}} Enterprise Java Web Application Developer
            %td{data:{header: 'Vid antagning'}} 11 500 kr
            %td{data:{header: 'Vid kursstart'}} 103 500 kr
            %td{data:{header: 'Summa'}}
              %strong
                115 000 kr
          %tr
            %td{data:{header: 'Program'}} Cyber Security Specialist
            %td{data:{header: 'Vid antagning'}} 12 500 kr
            %td{data:{header: 'Vid kursstart'}} 112 500 kr
            %td{data:{header: 'Summa'}}
              %strong
                125 000 kr
    .centered-row
      %h3 Boka Tidigt-rabatt
      %p Du kan välja att betala hela kursavgiften vid antagning till något av våra program och erhålla 5% rabatt.
      %table.responsive-table
        %thead.backgrounded
          %tr
            %th Program
            %th Ordinarie pris
            %th Rabatt
            %th Att betala vid antagning
        %tbody
          %tr
            %td{data:{header: 'Program'}} Full Stack Web Developer
            %td{data:{header: 'Listpris'}} 97 000 kr
            %td{data:{header: 'Rabatt'}} 5%
            %td{data:{header: 'Att betala vid antagning'}}
              %strong
                92 150 kr
          %tr
            %td{data:{header: 'Program'}} Enterprise Java Web Application Developer
            %td{data:{header: 'Listpris'}} 115 000 kr
            %td{data:{header: 'Rabatt'}} 5%
            %td{data:{header: 'Att betala vid antagning'}}
              %strong
                109 250 kr
          %tr
            %td{data:{header: 'Program'}} Cyber Security Specialist
            %td{data:{header: 'Vid antagning'}} 125 000 kr
            %td{data:{header: 'Rabatt'}} 5%
            %td{data:{header: 'Summa'}}
              %strong
                118 750 kr
    .centered-row
      %h3 Räntefri Delbetalning *
      %table.responsive-table
        %thead.backgrounded
          %tr
            %th Program
            %th Vid antagning <br><small> (anmälningsavgift)
            %th Vid kursstart
            %th Avbetalning 24 mån<br><small>(inkl. 75kr aviavgift)
            %th Pris inkl. moms
        %tbody
          %tr
            %td{data:{header: 'Program'}} Full Stack Web Developer
            %td{data:{header: 'Vid antagning'}} 9 700 kr
            %td{data:{header: 'Vid kursstart'}} 29 100 kr
            %td{data:{header: 'Avbetalning 24 mån'}} 2 500 kr/mån
            %td{data:{header: 'Summa'}}
              %strong
                98 800 kr
          %tr
            %td{data:{header: 'Program'}} Enterprise Java Web Application Developer
            %td{data:{header: 'Vid antagning'}} 11 500 kr
            %td{data:{header: 'Vid kursstart'}} 34 500 kr
            %td{data:{header: 'Avbetalning 24 mån'}} 2 950 kr/mån
            %td{data:{header: 'Summa'}}
              %strong
                116 800 kr
          %tr
            %td{data:{header: 'Program'}} Cyber Security Specialist
            %td{data:{header: 'Vid antagning'}} 12 500 kr
            %td{data:{header: 'Vid kursstart'}} 37 500 kr
            %td{data:{header: 'Avbetalning 24 mån'}} 3 200 kr/mån
            %td{data:{header: 'Summa'}}
              %strong
                126 800 kr
      %small  * Räntefri delbetalning erbjuds studenter bosatta i Sverige. Sedvanlig kreditkontroll kommer att genomföras
    .centered-row
      %h3 Kvinnliga sökande
      %p.copy--center
        Vi erbjuder <strong>ytterligare 5%</strong> rabatt på ovanstående priser till kvinnliga sökande eftersom kvinnor är mycket underrepresenterade i IT-branschen.
        %strong Denna rabatt läggs till eventuella ovanstående rabatter.

%section
  .container
    .centered-row
      %h2
        ='Betalnings-<br>alternativ'.html_safe
    .four-width-row
      .column
        = image_tag 'icons/icon-cash.jpg', class: 'image--small'
        %h4 Banköverföring
        %p.copy--left
          Det enklaste sättet att betala in dina avgifter är genom en banköverföring. Kontakta oss för kontonummer. Märk alla betalningar med ditt namn och de 6 första siffrorna i ditt personnummer.
      .column
        = image_tag 'icons/icon-credit-card.jpg', class: 'image--small'
        %h4 Kort
        %p.copy--left
          Vi kan ta emot de flesta kreditkort genom vår tjänsteleverantör Stripe.
      .column
        = image_tag 'icons/icon-briefcase.png', class: 'image--small'
        %h4 Faktura
        %p Är du företagare ställer vi gärna ut en momsfaktura på kursavgiften och du kan få 30 dagars kredit. Kontakta oss för mer information.

= partial :'apply', locals: {page: :about_us}
